<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div class="container py-3">
	<div class="row mb-3 mt-5">
		<div class="col-12">
			<h4>Welcome back</h4>

			Sign in to your account below
		</div>
	</div>

	<form (ngSubmit)="onSubmit()" [formGroup]="form">
		<div class="row mb-3">
			<div class="col-12">
				<mat-form-field appearance="outline" class="w-100" hideRequiredMarker>
					<mat-label>Email</mat-label>

					<input formControlName="email" matInput required />

					<mat-error *ngIf="form.get('email').hasError('required')">Email is required</mat-error>
				</mat-form-field>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-12">
				<mat-form-field appearance="outline" class="w-100" hideRequiredMarker>
					<mat-label>Password</mat-label>

					<input [type]="showPassword ? 'text' : 'password'" formControlName="password" matInput required />

					<button (click)="showPassword = !showPassword" disableRipple mat-icon-button matSuffix matToolTip="Toggle Visibility" type="button">
						<mat-icon *ngIf="showPassword" color="primary">visibility</mat-icon>
						<mat-icon *ngIf="!showPassword" color="primary">visibility_off</mat-icon>
					</button>

					<mat-error *ngIf="form.get('password').hasError('required')">Password is required</mat-error>
					<mat-error *ngIf="form.get('password').hasError('pattern')">
						Have at least 8 or more characters, contain at least one capital letter (A-Z) and at least one number (0-9)
					</mat-error>
				</mat-form-field>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-12">
				<button [disabled]="loading" class="w-100 mt-3" color="primary" mat-flat-button type="submit">Login</button>
			</div>
		</div>
	</form>
</div>
