.container-fluid {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	background-color: transparent;
	backdrop-filter: blur(10px);
	mask: linear-gradient(to top, transparent, black 20%);
	padding-bottom: 10px;
}

.table {
	overflow: auto;
	margin-top: 125px;
	padding-bottom: 100px;
}

table,
.mat-mdc-form-field {
	width: 100% !important;
}

th,
td {
	padding: 1em !important;
}

td {
	max-width: 20rem !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
}

td:not(.mat-column-node_id, .mat-column-select) {
	cursor: cell !important;
}

// td:not(.mat-column-node_id, .mat-column-select):hover {
// 	background-color: #d7e3ff;
// }

// tr.mat-mdc-row:hover {
// 	background-color: #f8faff;
// }

.mat-mdc-flat-button {
	background-color: transparent;
	box-shadow: none;
	padding: 0px;
}

.no-data-icon {
	font-size: 140px;
	margin-right: 110px;
}

.action-btn {
	position: fixed;
	bottom: 70px;
	right: 30px;
}

.mat-mdc-paginator {
	background-color: transparent;
	backdrop-filter: blur(5px);
	mask: linear-gradient(to bottom, transparent, black 30%);
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 100%;
	z-index: 1000;
	padding-top: 25px;
}
