.table {
	overflow: auto;
}

table,
.mat-mdc-form-field {
	width: 100% !important;
}

th,
td {
	padding: 1em !important;
}

td {
	max-width: 20rem !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
}

td:not(.mat-column-nodeId, .mat-column-select) {
	cursor: cell !important;
}

// td:not(.mat-column-nodeId, .mat-column-select):hover {
// 	background-color: #d7e3ff;
// }

// tr.mat-mdc-row:hover {
// 	background-color: #f8faff;
// }

.mat-mdc-flat-button {
	background-color: transparent;
	box-shadow: none;
	padding: 0px;
}

.no-data-icon {
	font-size: 140px;
	margin-right: 110px;
}

.action-btn {
	position: absolute;
	bottom: 50px;
	right: 50px;
}

.mat-mdc-paginator {
	background-color: transparent;
}
